<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="Server" value ="200.100.100.228"/>
      <add key="DBNane" value ="STBL_MAIN"/>
      <add key="User" value ="sa"/>
      <add key="PW" value ="siix@123456"/>
      <add key="PoolSize" value ="400"/>
      <add key="Timeout" value ="1000"/>
      <add key="TimesSec" value ="60"/>
      <add key="MC" value ="DEVTEST"/>
      <add key="CUS" value ="VNTEC"/>
      <add key="pahtFileLog" value ="D:\ICT Will\LOG VNTEC\KET_Test\Log\"/>
      <add key="lineHeader" value ="1"/>
    </appSettings>
</configuration>